// Global common classes

.clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }

    &:after {
        clear: both;
    }
}

.hidden {
    display: none;
}

.shown {
    display: block;
}