@import '../../../../styles.scss';

.pageLayout {
    font-size: rem(24);
    margin: rem(32) rem(16);
}

.missionTitle {
    font-size: rem(32);
}

@include media-breakpoint-up(sm) {
    .pageLayout {
        margin: rem(32);
    }

    .missionTitle {
        font-size: rem(62);
    }
}