@import '../../../../styles.scss';

.footerContainer {
    @include box-shadow-defined($android-box-shadow-top);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $off-black;
    padding: rem(16);
    height: rem(108);
    z-index: 10;
}

.emailAddress {
    display: none;
}

.logo {
    @include svg-icons('logo-essence-global');
    display: block;
    float: right;
    background-position-x: 0;
    background-position-y: center;
    background-size: rem(100);
    margin: 0;
    height: rem(120);
    width: rem(100);
}

@include media-breakpoint-up(sm) {
    .footerContainer {
        padding: rem(32);
    }

    .logo {
        background-size: rem(160);
        width: rem(160);
    }
}

@include media-breakpoint-up(md) {
    .logo {
        background-size: rem(240);
        width: rem(240);
    }
}

@include media-breakpoint-up(lg) {
    .emailAddress {
        display: inline;
    }
}