<footer class="footerContainer">
    <div class="row">
        <div class="col-3">
            <div class="bold">Follow us</div>
            <div class="social" *ngFor="let social of socials">
                <a href="{{ social.link }}" class="link">{{ social.name }}</a>
            </div>
        </div>

        <div class="col-5">
            <div class="bold">Contact us</div>
            <div class="email" *ngFor="let contact of contactEmails">
                <a href="mailto:{{ contact.email }}" class="link">
                    {{ contact.name }}<span class="emailAddress">: {{ contact.email }}</span>
                </a>
            </div>
        </div>

        <div class="col-4">
            <a href="/" class="logo" title="Essence Global logo"></a>
        </div>
    </div>

    <ng-content></ng-content>
</footer>