@import '../../../../styles.scss';

.navigationMenu {
    display: inline-block;
}

.navElement {
    display: table;
    font-weight: $light;
    height: rem(80);

    &.horizontal {
        float: left;
        padding-left: rem(16);
    }

    > .navMenuItem {
        display: table-cell;
        border-bottom: rem(2) solid $transparent;
        cursor: pointer;
        text-align: left;
        text-decoration: none;
        vertical-align: middle;

        &.active {
            border-bottom: rem(4) solid $light-blue;
            
            > .navMenuItemLabel {
                color: $light-blue;
            }
        }

        > .navMenuItemLabel {
            font-weight: $bold;
            color: $whiteF8;
        }
    }
}

@include media-breakpoint-down(xs) {
    .navElement.horizontal {
        padding-left: rem(10);
    }

    .navMenuItemLabel {
        font-size: rem(14);
    }
}