<div class="row">
    <div class="col-md-6 col-lg-4" *ngFor="let product of products | orderBy: orderBy | search: queryString">
        <div class="productBox">
            <div class="productInfo">
                <span class="sortTitle lightBlue" (click)="orderBy = 'code'">
                    Code:
                </span>
                {{ product.code }}
            </div>
            <div class="productInfo">
                <span class="sortTitle lightBlue" (click)="orderBy = 'make'">
                    Producer:
                </span>
                {{ product.make }}
            </div>
            <div class="productInfo">
                <span class="sortTitle lightBlue" (click)="orderBy = 'model'">
                    Model:
                </span>
                {{ product.model }}
            </div>
            <div class="productInfo">
                <span class="sortTitle lightBlue" (click)="orderBy = 'name'">
                    Extended Name:
                </span>
                {{ product.name }}
            </div>
            <div class="productInfo">
                <span class="sortTitle lightBlue" (click)="orderBy = 'type'">
                    Type:
                </span>
                {{ product.type }}
            </div>
            <div class="productInfo">
                <span class="sortTitle lightBlue" (click)="orderBy = 'tar_code'">
                    Tariff Code:
                </span>
                {{ product.tar_code }}
            </div>
            <div class="productInfo">
                <span class="sortTitle lightBlue" (click)="orderBy = 'tar_name'">
                    Tariff Name:
                </span>
                {{ product.tar_name }}
            </div>
            <div class="productInfo">
                <span class="sortTitle lightBlue" (click)="orderBy = 'tar_minutes'">
                    Tariff Minutes:
                </span>
                {{ product.tar_minutes }}
            </div>
            <div class="productInfo">
                <span class="sortTitle lightBlue" (click)="orderBy = 'tar_sms'">
                    Tariff SMS:
                </span>
                {{ product.tar_sms }}
            </div>
            <div class="productInfo">
                <span class="sortTitle lightBlue" (click)="orderBy = 'tar_data'">
                    Tariff Data:
                </span>
                {{ product.tar_data }}
            </div>
        </div>
    </div>
</div>
