@import '../../../../styles.scss';

.headerContainer {
    @include box-shadow-defined($android-box-shadow-bottom);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $off-black;
    margin: 0;
    padding: 0 rem(16);
    height: rem(80);
    z-index: 10;

    > .logo {
        @include svg-icons('logo-essence-global');
        display: block;
        float: left;
        background-position-x: 0;
        background-position-y: center;
        background-size: rem(100);
        margin: 0;
        height: rem(80);
        width: rem(100);
    }
}

@include media-breakpoint-up(sm) {
    .headerContainer {
        padding: 0 rem(32);

        > .logo {
            background-size: rem(160);
            width: rem(160);
        }
    }
}